/*input[type="radio"] {
  display: none;
}*/

/*label {
  padding: 10px 20px;
  background-color: orange;
  border: thin solid darkorange;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
}*/

/*input[type="radio"]:checked + label {
  background-color: darkblue;
  cursor: default;
  color: #e6e6e6;
}*/
.wrapForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapOne {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.wrapTwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.padLabel {
  padding: 1rem;
}
.inputMargin {
  margin-left: 7px;
}
.has-error {
  border: 1px solid #f44336;
}
.form-message {
  font-size: 10px;
  padding-top: 2px;
}
.form-message.valid {
  color: #4caf50;
}
.form-message.invalid {
  color: #f44336;
}
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-appearance: none;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input::-ms-clear {
  display: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 30px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.myButton {
  box-shadow: 3px 4px 0px 0px #1564ad;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 5px;
  border: 1px solid #337bc4;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 44px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.myButton:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}
.myButton:active {
  position: relative;
  top: 1px;
}
