table {
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid black;
  padding: 1rem;
}
td {
  background-color: lightgrey;
}
th {
  background-color: darkgrey;
}
main {
  margin: 0 auto;
  width: 100%;
}
table {
  width: 100%;
  border: 5px solid red;
}
.editIcon:hover {
  cursor: pointer;
}
.editIco:hover {
  cursor: pointer;
}
ul.dropdown {
  min-width: 100%; /* Set width of the dropdown */
  background: #f2f2f2;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}
ul.dropdown:hover {
  display: block;
}
.editIcon {
  width: 100px;
  height: 100px;
}
.dropdown-content {
  position: fixed;
  min-width: 200px;
  background-color: white;
  border: 1px solid grey;
  box-shadow: 0 1px 2px -2px grey;
  z-index: 1;
}
.menu {
  background: white;
  position: absolute;
}
