table {
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid black;
  padding: 1rem;
}
td {
  /*background-color: lightgrey;*/
}
th {
  /*background-color: darkgrey;*/
}
main {
  margin: 0 auto;
  width: 100%;
}
table {
  width: 100%;
  /*border: 5px solid red;*/
}
.editIcon:hover {
  cursor: pointer;
}
.editIco:hover {
  cursor: pointer;
}
ul.dropdown {
  min-width: 100%; /* Set width of the dropdown */
  background: #f2f2f2;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}
ul.dropdown:hover {
  display: block;
}
.editIco {
  /*width: 100px;
  height: 100px;*/
  margin-left: 2px;
}
.dropdown-content {
  position: fixed;
  min-width: 200px;
  background-color: white;
  border: 1px solid grey;
  box-shadow: 0 1px 2px -2px grey;
  z-index: 1;
}
.menu {
  background: white;
  position: absolute;
}
.myButton {
  box-shadow: 3px 4px 0px 0px #1564ad;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 5px;
  border: 1px solid #337bc4;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 44px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.myButton:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}
.myButton:active {
  position: relative;
  top: 1px;
}
